* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# --- IGNORAR LIBRERÍAS DE TERCEROS Y PLUGINS ---
vendor/* linguist-vendored=true
node_modules/* linguist-vendored=true

public/assets/** linguist-vendored=true

public/build/* linguist-vendored=true
public/css/* linguist-vendored=true
public/js/* linguist-vendored=true

# --- MARCAR ARCHIVOS MINIFICADOS COMO GENERADOS ---
*.min.css linguist-generated=true
*.min.js linguist-generated=true