* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Ignorar dependencias, librerías (como Bootstrap) y archivos compilados
public/build/* linguist-vendored=true
public/css/* linguist-vendored=true
public/js/* linguist-vendored=true
vendor/* linguist-vendored=true
node_modules/* linguist-vendored=true

# Marcar archivos minificados como generados
*.min.css linguist-generated=true
*.min.js linguist-generated=true